<a href="https://colab.research.google.com/github/samandgas/DC-Bootcamp/blob/main/DC_Bootcamp_Week_1_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Operations

## Run The Following Code
Hit SHIFT + ENTER when your cusor is inside the cell of code.<br/>

> Take note: variable names and strings are case sensitive.

In [ ]:
Data = 'hello'
print(Data)

hello

In [ ]:
print(data)

NameError: name 'data' is not defined

> Add up the following strings: "S" , "1234567", "A". Assign them to the variable <b>nric</b>

In [ ]:
nric = "S" + "1234567" + "A"

> You can also use a mix of single, or double quotes.

In [ ]:
nric = "S" + '1234567' + "A"
print(nric)

S1234567A

> Find out the length the variable <b>nric</b>

In [ ]:
print( len(nric) )

9

> Print out what is the data type of the variable <b>nric</b>

In [ ]:
type(nric)

str

> Print out the first character of <b>nric</b>

In [ ]:
print( nric[0] )

S

> Print out the last character of <b>nric</b>

In [ ]:
print( nric[-1] )

A

> Print out the numbers in <b>nric</b>, which are from the 2nd character to the 9th character

In [ ]:
print( nric[1:8] )

1234567

In [ ]:
print( nric[:8] )

#or...
#print( nric[0:8] )

S1234567

> Print out the all the numbers of the <b>nric</b> as well as the last character.

In [ ]:
print( nric[1:] )

#or...
#print( nric[1:9] )

1234567A

> You realised that <b>nric</b> has an error. The last character should be "D". Replace the last character from "A" to "D". This is the WRONG way to do it.

In [ ]:
nric[8] = "D"

TypeError: 'str' object does not support item assignment

> Strings are immutable. That means you can't change it after you assigned it. This is how you do it and store in a new variable <b>nric2</b>

In [ ]:
nric2 = nric[0:8] + "D"
print( nric2 )

> You can find out a list of methods associated with a string by pressing TAB after putting a dot after the string variable.

In [ ]:
string = "Hello"

In [ ]:
string.

> the input() function allows you to read in a string

In [ ]:
name = input("What is your name? ")

In [ ]:
print(name)

# !! Your Turn !!

## Replace the code marked as <..> COMPLETELY with your own.
For example:
length = <..> will be replaced by length = 10

# Question 1
1) Store the following text in a variable text_1:<br/><br/>
   He's my friend.<br/><br/>
2) Print it out<br/>

In [ ]:
text_1 = <..>
print(<..>)

# Question 2
1) Store the following text in a variable text_2:<br/><br/>
   He said, "How do you do!"<br/><br/>
2) Print it out<br/>

In [ ]:
text_2 = <..>
print(<..>)

# Question 3
1) Store the following text in a variable text_3:<br/><br/>
   He's my friend. He said, "How do you do!"<br/><br/>
   Hint: Make use of text_1 and text_2

In [ ]:
text_3 = <..> + <..>
print(<..>)

The two sentences seem to be meshed up together. How can you add in the full stop and a space between the two sentences?

# Question 4
1) Let's explore what happens when using mathematical operators on strings<br/>
2) Add "Pine" and "apple"<br/>

In [ ]:
<..> + <..>

# Question 5
1) Multiply "Apple" by 5<br/>

In [ ]:
<..> * <..>

2) What is the result of the following code. Make a guess first before running it.

In [ ]:
fruit = "Apple"
fruit = fruit + "Apple"
fruit = fruit + "Apple"
fruit = fruit + "Apple"
fruit = fruit + "Apple"

print(fruit)

# Question 6
1) Subtract "apple" from "Pineapple"<br/>
2) Does it work?<br/>

In [ ]:
<..> - <..>

# Question 7
Note:<br/>
We can convert from one data type to the other<br/>
Use int(x) to convert x from a string to an integer<br/>
Use str(x) to convert x from an integer to a string<br/><br/>

In [ ]:
name = "James Bond"
codename = "007"

In [ ]:
type(codename)

In [ ]:
codenumber = int(codename)
print(codenumber)

In [ ]:
type(codenumber)

1) Declare a variable <b>height_record</b> which stores the string "I am 180cm."<br/>

In [ ]:
height_record = <..>

2) Extract the height from this variable and store in a variable <b>height</b>. Print it out.

In [ ]:
height = height_record[ <..> ]
print(<..>)
#You should see 180 being printed out from the variable height

3) What data type is height? Make a guess first, then write the code to verify.

In [ ]:
<..>(<..>)

4) My height has increased by 2cm. Convert height into an integer.<br/>
5) Then update the variable <b>height</b> by adding 2 to it. Remember to cast it into an int first.<br/>
6) Print out the value in the variable <b>height</b> to verify.

In [ ]:
height = <..>(<..>) + <..>
print(height)

# Question 8
strings come with a few methods and properties.
Here are two common ones: .lower() and .upper()

In [ ]:
name = "Leonardo da Vinci"

In [ ]:
name.upper()

In [ ]:
name = "LEONARDO DA VINCI"

In [ ]:
name.lower()

Note however that what you did here does not change the original string, <b>name</b>

In [ ]:
print(name)

Recall that strings are immutable. To affect the original string, you have to assign the value back.

In [ ]:
name = name.lower()
print(name)

Investigate what the following methods do:<br/>
- startswith()
- endswith()
- count()
- isnumeric()
- split()
- pick one other of your choice

Note: Don't forget your brackets!<br/>
Note2: Some of the methods may require you to put a string inside the brackets.<br/>
Note3: You can hit SHIFT+TAB when your cursor is inside the brackets for additional help on how to use the method.

# Question 9

1) Ask the user for his name and store it in a variable <b>name</b>.

2) Ask the user for his surname and store it in a variable <b>surname</b>.

3) Combine the name and surname into a variable <b>full_name</b> and capitalise it properly.

4) Print out full_name to verify.

5) Ask the user for the year he or she was born in and store it in a variable <b>born</b>

6) Ask what year is it today and store it in a variable <b>year</b>.

7) Calculate the user's age and store it in a variable <b>age</b>.<br/>
8) Print it out to verify.

9) Ask ... "How many years into the future do you want to fast forward to: "<br/>
and print out something like the following if the user keyed in 20.<br/>

John Smith is born in the year 1950 and he is 70 years old in the year 2020. He will be 90 years old in 20 years' time.<br/>

<i>Note: The code should dynamically change depending on what the user keyed in. </i>